
.bg-dark {
    background-color: #540e0e !important;
}

.btn-primary {
    background-color: gold;
    border-color: gold;
}

.btn-primary:hover {
    background-color: goldenrod;
    border-color: goldenrod;
}

.btn-secondary {
    background-color: gold;
    border-color: gold;
}

.btn-secondary:hover {
    background-color: goldenrod;
    border-color: goldenrod;
}

.image-container-logo {
    width: 140px;
    height: 50px;
    overflow: hidden;
}

.img-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container-card {
    width: auto;
    height: 200px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-link:hover {
    color: #f1c40f !important; /* Dorado */
}